@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark:   #1a1208;
  --cream:  #FDF7F0;
  --gold:   #c9a84c;
  --muted:  #8a7a6a;
  --border: #d0c8bc;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
